.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    gap: 4rem;
    position: relative;
}

.auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-left {
    gap: 2rem;
}

.a-left > img {
    width: 6rem;
    height: 7rem;
}

.webName {
    text-align: center;
}

.webName > h1 {
    
    font-size: 3rem;
    background-color: red;

    /* Create the gradient */
    background-image: var(--buttonBg);

    /* Set the background size and repaet properties */
    background-size: 100%;
    background-repeat: repeat;

    /* use the text as a mask for the background
    this will show the gradient as a text color rather than text background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

.webName > h6 {
    font-size: 0.85rem;
    margin-top: -2rem;
}

.infoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoForm > div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
    margin-top: -1rem;
}

.authForm {
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm > div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.changeFormSpan {
    gap: 0.5rem !important;
}

.changeFormSpan > span {
    font-size: 12px;
}

.changeFormSpan > span:nth-of-type(2) {
    cursor: pointer;
    color: var(--orange);
    font-weight: bold;
}